<!-- templates/tasks/task_list.html -->
{% extends "_base.html" %}
{% load static %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/task_list.css' %}">
{% block title %}Tasks{% endblock title %}
{% block content %}
    {% for task in task_list %}
        <div class="task_list">
            {% if task.is_completed %}
                <div class="task_completed">
                    <s><h2><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></h2></s>
                    <p>Completed at: {{ task.completed_at }}</p>
                </div>
            {% else %}
                <h2><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></h2>
                {% if task.is_due %}
                    <p>Late!</p>
                {% endif %}
                <form method="post" action="{% url 'task_list'%}">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <input type="submit" value="Mark as completed">
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
